@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto&display=swap");

:root {
  --main-intro-color: rgb(0, 0, 0);
}

.navbar {
  margin: auto;
}

.circles {
  /* width: 50vw; */
  margin: auto;
}

.top {
  top: auto;
}

.btn-circle {
  width: 172px;
  font-weight: bold;
  height: 172px;
  padding: 10px 16px;
  border-radius: 60px;
  font-size: 32px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255);
  margin: 10px;
  box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 1.6);
  border: 10px solid rgb(255, 255, 255);
}

button:hover {
  box-shadow: 0 5px 15px 0px rgba(255, 255, 0, 4.6);
  font-size: 35px;
  color: rgba(255, 255, 255, 1.6) !important;
}

button:focus {
  box-shadow: 0 5px 15px 0px rgba(255, 255, 0, 4.6) !important;
  font-size: 35px !important;
  color: rgba(255, 255, 255, 1.6) !important;
}

.intro {
  /* font-size: 4px; */
  color: rgb(255, 255, 255);
  width: 70vw;
  font-family: "Pangolin", cursive;
}

.font-size-lg1 {
  font-size: 4rem;
}

.font-size-lg2 {
  font-size: 2.5rem;
}

#changing-content {
  color: white;
  position: relative;
  top: 25%;
  left: 10%;
}

#changing-content h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
}

#changing-content ul li {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}

.info {
  text-align: start;
}

.info h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
}

.info ul li {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}

.info h2 a {
  text-decoration: none;
  color: white;
}

.info h2 a:hover {
  font-size: 44px;
}

.more-projects {
  font-family: "Pangolin", cursive;
  text-align: center;
}

.more-projects h3 {
  font-size: 50px;
}

.more-projects {
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
